body
{
    font-family: Courier New, Arial, Helvetica, sans-serif;

    --header-height: 120px;
}

header
{
    height: var(--header-height);
    border-block-end: 2px solid;
}

#logo
{   
    float: left;
    width: 120px;
    height: 100px;
    margin-right: 20px;
}

h1
{
    line-height: var(--header-height);
    font-weight: bold; 
    text-align: left;
}

.conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%; 
    align-items: flex-start;
    border-block-end: 2px solid;
}

.element
{
    max-width: 30%;
    border: 2px dashed;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2
{
    font-size: 25px; 
    font-weight: bold; 
    text-decoration: underline;
    background-color:rgb(254, 198, 16);
}

.yellow
{
    color:rgb(254, 198, 16);
}

.pink
{
    color: rgb(227, 73, 75);
    text-decoration: underline;
}

li
{
    list-style-type: square;
}

footer
{
    font-weight: bold;
    text-align: center;
}

@media print 
{
    body
    {
        font-family: Courier New, Arial, Helvetica, sans-serif;
        --header-height: 80px;
    }
    header
    {
        height: var(--header-height);
        border-block-end: 1px solid;
    }
    #logo
    {   
        float: left;
        width: 80px;
        height: 60px;
        margin-right: 20px;
    }
    h1
    {
        line-height: var(--header-height);
        font-size: 25px;
        font-weight: bold; 
        text-align: left;
    }
    h2
    {
        font-size: 20px; 
        font-weight: bold; 
        text-decoration: underline;
    }
    .conteneur
    {
        border-block-end: 1px solid;
    }
    .element
    {
        max-width: 100%;
        border: 1 px dashed;
        padding: 10px;
        margin: 20px;
    }
}